/* An attempt to provide Space Nerds in Space with easy touch-screen clients.
*  Depends on active snis natural language fifo, with the http_client_bridge program
*  running on the same host. This is because its really just an ugly hack on top of all that.
*
*  justin.warwick@gmail.com  2022
*  
*  Thanks to:
*  http://www.colorzilla.com/gradient-editor/
*  https://developer.mozilla.org/en-US/docs/Web
*  https://github.com/SamHerbert/SVG-Loaders
*  http://codepen.io/thebabydino
*  https://www.google.com/fonts
*  https://github.com/cesanta/mongoose  
*  and of course: https://github.com/smcameron/space-nerds-in-space 
*/

@import url('https://fonts.googleapis.com/css2?family=Tomorrow:wght@100&display=swap');
/* @import url('https://fonts.googleapis.com/css?family=Orbitron'); */


/** General Defaults **/
body {
	color: #22DD22;
	background-color: #020202;
	font-family: 'Tomorrow', 'Orbitron', Arial, Helvetica, sans-serif;
	font-size:.75em; /* orbitron is seemingly extra biggish */
}

html, body, webview { 		/* affects full-screen mode borders */
	margin: 0;
	padding: 0;
	border: 0;
	display: block;
/*	width: 100%;
	height: 100%;
	*/
	background-color: #020202;
}


@media (min-width:320px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */ 
	body{ font-size:.6em; }
}
@media (min-width:480px)  { /* smartphones, Android phones, landscape iPhone */ 
	body{ font-size:.75em; }
}
@media (min-width:600px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */ 
	body{ font-size:.8em; }
}
@media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
	body{ font-size:.9em; }
}
@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ 
	body{ font-size:1em; }
}
@media (min-width:1281px) { /* hi-res laptops and desktops */ 
	body{ font-size:1.15em; }
}


.panel {
	margin:.5em;
}

.panel   button {
	margin-top:.25em;
}

fieldset {
	border-top: 1px solid blue;
	border-right: 1px solid blue;
	border-bottom: 1px solid blue;
	border-left: 1px solid blue;
	/* border-radius: .2em; */
}
fieldset > legend {
	color: blue;
	background-color: #020202;
	font-family: 'Tomorrow', 'Orbitron', Arial, Helvetica, sans-serif;
	font-size:1em; /* orbitron is seemingly extra biggish */
}

/** Controls **/
button {	/*decent, graceful fall-back defaults*/
	font-family: 'Tomorrow', 'Orbitron', Arial, Helvetica, sans-serif;
	font-size: 1.5em;
	vertical-align: bottom;
	color: #22DD22;
	background-color: #020402;
	border-top: 1px solid #22DD22;
	border-right: 1px solid #22DD22;
	border-bottom: 1px solid #22DD22;
	border-left: 1px solid #22DD22;
	border-radius: .2em;
	padding: .25em 1em .25em 2em ;
	text-align:left;
	padding-top: .2em;
	padding-left:.4em;
	padding-right:.4em;
	padding-bottom: .2em;
	width:10em;
}
button:hover{
	color: #50DF50;
	background-color: #040804;
	border-top: 1px solid #50DF50;
	border-right: 1px solid #50DF50;
	border-bottom: 1px solid #50DF50;
	border-left: 1px solid #50DF50;
	/*nice little "glow"*/
	box-shadow: inset 0 0 2px limegreen, 2px 2px 2px -1px limegreen, -2px -2px 2px -1px limegreen; 
}
button:focus{
	color: #8AE08A;
	background-color: #040804;
	border-top: 1px solid #8AE08A;
	border-right: 1px solid #8AE08A;
	border-bottom: 1px solid #8AE08A;
	border-left: 1px solid #8AE08A;
	/*nice little "glow"*/
	box-shadow: inset 0 0 4px limegreen, 2px 2px 4px -1px limegreen, -2px -2px 4px -1px limegreen; 
}
button:disabled {
	border: 2px solid gray;
	color: gray;
}
button.toggle {
/* 
	border-top: 1px solid #335066;
	border-right: none;
	border-bottom: 1px solid #2378A9;
	border-left: none;
*/
	padding: .1em 1em .1em 2em ;
	text-align:right;

/*
	background-image: url('images/button_L_cap.png') , url('images/button_R_cap.png') ;
	background-repeat: no-repeat, no-repeat;
	background-position: left, right;
*/

	min-width: 8em;
}


/* control classes:
 * primary: green  also kinda the default
 * secondary: darkorange
 * tertiary: blue royal
 * disable/revert: silver, darkwhite
 * caution: red
 * -- indicators only:  cyan
 */
button.secondary {
	color: DarkOrange; /* #22DD22; */
	background-color: #020402;
	border-top: 1px solid DarkOrange;
	border-right: 1px solid DarkOrange;
	border-bottom: 1px solid DarkOrange;
	border-left: 1px solid DarkOrange;
}


button.major_action {
	/*font-size:1.25em;*/
	padding: .25em 1em .25em 3em ;
	text-align:right;
	border-radius: 8px;

/* solid, not just outline... alas...
	background: black; 
	background:
		linear-gradient(135deg, transparent 10px, #22DD22 0) top left,
		linear-gradient(225deg, transparent 10px, #22DD22 0) top right,
		linear-gradient(315deg, transparent 10px, #22DD22 0) bottom right,
		linear-gradient(45deg,  transparent 10px, #22DD22 0) bottom left;
	background-size: 50% 50%;
	background-repeat: no-repeat;
*/
/*  could also do corners with images caps (but don't forget other coordinated classes)...
	border:none;
	background-image: url('images/button_major_left_endcap_inactive.png') ,  url('images/button_major_right_endcap_inactive.png'), url('images/button_major_mid_inactive.png');
	background-size: contain;
	background-repeat: no-repeat,  no-repeat, repeat-x;
	background-position: left, right,  center;
*/

	min-width: 9em;
	outline: none;
}
button.major_action_active {
/*
	background-image: url('images/button_major_left_endcap_active.png') ,  url('images/button_major_right_endcap_active.png'), url('images/button_major_mid_active.png');
*/
}
button.action {
	font-size:1.25em;
	padding: .1em .75em .1em .75em ;
	text-align:center;

/*
	border:none;
	background-image: url('images/button2_L_cap.png') ,  url('images/button2_R_cap.png'), url('images/button2_mid.png');
	background-size: contain;
	background-repeat: no-repeat,  no-repeat, repeat-x;
	background-position: left, right,  center;
	outline: none;
*/
	/*min-width: 8em;*/
}

a.increment:link {
	text-decoration: none;
}
a.increment:link img {
	border:none;
}
a.decrement:link {
	text-decoration: none;
}
a.decrement:link img {
	border:none;
}
button.increment {
	background-image: url('images/button_increment.png') ;
	background-repeat: no-repeat;
	background-size: contain;
	border:none;
	background-color: transparent;
	width: 1em;
	height: 2em;	/*you could actually have different sizes this way, or dynamically set*/
	outline: none;
}
button.decrement {
	background-image: url('images/button_decrement.png') ;
	background-repeat: no-repeat;
	background-size: contain;
	border:none;
	background-color: transparent;
	width: 1em;
	height: 2em;	/*you could actually have different sizes this way, or dynamically set*/
	outline: none;
}

button.foob {
  /*padding: 1rem 2rem;*/
  color: #ffffff;
  background-color: transparent;
  background-image: linear-gradient(180deg, #ffdc00, #ffdc00)
    ,linear-gradient(225deg, #ffdc00, #ffdc00)
    ,linear-gradient(0deg, #ffdc00, #ffdc00)
    ,linear-gradient(90deg, #ffdc00, #ffdc00)
    ,linear-gradient(135deg, transparent 9px, #ffdc00 10px, #ffdc00 12px, transparent 12px)
    ;
  background-position: top right
    ,top right
    ,bottom left
    ,bottom left
    ,top left
    ;
  background-size: calc(100% - 15px) 2px
    ,2px 100%
    ,100% 2px
    ,2px calc(100% - 15px)
    ,15px 15px
    ;
  background-repeat: no-repeat;
}

button.bar {
  position:relative;
  overflow:hidden;
  background: #522d5b;
  clip-path: polygon(
    0 5%,
    5% 0,
    95% 0,
    100% 5%,
    100% 95%,
    95% 100%,
    5% 100%,
    0% 95%,
    0% 5%
  )
}

a.buttonize {
    font-family: 'Tomorrow', 'Orbitron', Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    vertical-align: bottom;
    color: #22DD22;
    background-color: #020402;
    border-top: 1px solid #22DD22;
    border-right: 1px solid #22DD22;
    border-bottom: 1px solid #22DD22;
    border-left: 1px solid #22DD22;
    border-radius: .2em;
    padding: .25em 1em .25em 2em;
    text-align: right;
    padding-top: 0em;
    padding-bottom: 0em;
    box-shadow: i;
    text-decoration: none;
}


/** Sliders **/
input[type='range'].horizontal::-moz-range-progress {
  background-color: orange; 
  height:.8em;
}

input[type="range"].horizontal::-moz-range-track {  
  background-color: black;
}

input[type=range].horizontal::-webkit-slider-thumb {
	height:1em;
	width:.25em;
	color:orange;
}
input[type=range].horizontal::-moz-range-track {
	height:1em;
	border:1px solid orange;
}


input[type='range'] {
	/*
  position: relative;
  transform: translate(-0%, 100%) rotate(-90deg); 
  */
  /* transform: translate(-50%, -50%) rotate(-90deg);*/
  top: 50%;
  left: 1em; /*33%;*/
  border: solid 0 transparent;
  border-width: 0 1px 0px;
  padding: 0 0 1em;
  width: 19.75em;
  height: 2em;
  border-radius: none;
  background:none;
  font-size: 1em;
  cursor: pointer;
}
input[type='range'], input[type='range']::-webkit-slider-runnable-track, input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type='range']::-webkit-slider-runnable-track:before {
	background:orange;
	  top: 0;
	    left: 0;
	      width: 60%;
	        height: 0.4375em;
		    background: linear-gradient(0deg, #4e7a0e 1px, #80b03a 1px, #98c751 90%, #c5df9c);
}
input[type='range']::-webkit-slider-runnable-track {
	position:relative;
  box-sizing: border-box;
  padding: 0;
  width: 19.75em;
  height: 1em;
  border-radius: none;
  background: none;
  border: 1px solid orange;

  /*1.75em / 0.875em;*/
  /*
  box-shadow: inset 0 2px 4px #077,  0 2px 4px #077;
  background: #002025;
  */
  /*linear-gradient($track-bg, $track-bg) content-box,
  linear-gradient(#efefef, #c2c2c2) border-box;*/
}
input[type='range']::-moz-range-track {
  box-sizing: border-box;
  padding: 0;
  width: 19.75em;
  height: 4em;
  border-radius: none;
  /*1.75em / 0.875em;*/
  /* box-shadow: inset 0 2px 4px #077,  0 2px 4px #077;*/
  background: none;
  /*linear-gradient($track-bg, $track-bg) content-box,
  linear-gradient(#efefef, #c2c2c2) border-box;*/
}
input[type='range']::-ms-track {
  border: none;
  box-sizing: border-box;
  padding: 0.125em;
  width: 19.75em;
  height: 1.75em;
  border-radius: none;
  /*1.75em / 0.875em;*/
  box-shadow: inset 0 2px 4px #077,  0 2px 4px #077;
  background: #002025;
  /*linear-gradient($track-bg, $track-bg) content-box,
  linear-gradient(#efefef, #c2c2c2) border-box;*/
  color: transparent;
}
input[type='range']::-webkit-slider-thumb {
  --box-fill: calc(-100vmax - 1em, 2em) 0 0 100vmax currentColor;
  /* margin-top: -0.125em; */
  box-sizing: border-box;
  border: solid 1px orange;
  box-shadow: var(--box-fill);
  background:orange;
  /* border-width: 1px .3125em; */
  width: -.2em;
  height: 1em;
  cursor: ns-resize;
}
input[type='range']::-moz-range-thumb {
/* nice bit of triangle-pointer-above-track styling, however there is a sliding scale flaw. the thumb is only "in sync" in the very center.
*
 box-sizing: border-box;
  border: solid 1.5em transparent;
  width: 4em;
  height: 4em;
  border-radius: 1.875em;
  transform: translateY(-1.25em) rotate(30deg) skewY(30deg) scaleX(0.8333);
  box-shadow: inset -1px -1px orange;
  background: linear-gradient(-45deg, transparent 20%, transparent 50%, orange 50%, orange calc(50% + 1px), rgba(0, 0, 0, 0) calc(50% + 1px)) no-repeat content-box;
*/

  transform: translateY(-.28em);  
  box-sizing: border-box;
  border: solid 1px orange;
  width: 0em;
  height: 1.35em;
  border-radius: none;
  cursor: ns-resize;
}
input[type='range']::-ms-thumb {
  box-sizing: border-box;
  border: solid 0 transparent;
  border-width: 1px .3125em;
  width: 2.25em;
  height: 1.75em;
  border-radius: 0.5em;
  box-shadow: -0.84375em 0 0.84375em -0.84375em #044, -0.84375em 0 1.125em -0.84375em #044, -0.84375em 0 1.40625em -0.84375em #044, -0.84375em 0 1.6875em -0.84375em #044, -0.84375em 0 1.96875em -0.84375em #044, -1.125em 0 2.25em -0.84375em #044;
  background: linear-gradient(90deg, #005555, #005555) content-box, linear-gradient(90deg, #00c9c7, #00d7d7) border-box;
  cursor: ns-resize;
}
input[type='range']::-ms-fill-lower, input[type='range']::-ms-tooltip {
  display: none;
}

_XX_input[type='range']:nth-of-type(2) {
  left: 2em; /*33%;*/
  transform: translate(-50%, 100%) rotate(-90deg) scaleY(-1);
  /*transform: translate(-50%, -50%) rotate(-90deg) scaleY(-1);*/
}

input[type='range']:focus {
  outline: none;
  box-shadow: 0 0 .25em #090704;
}



/** Input Sinlge Line Text **/
input[type='number'] {
	font-family: 'Tomorrow', 'Orbitron', Arial, Helvetica, sans-serif;
	font-size: 1.5em;
	vertical-align: bottom;
	color: #22DD22;
	background-color: #020402;
	border-top: 1px solid gray;
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
	border-left: 1px solid gray;
	border-radius: .2em;
	padding: .25em 1em .25em 2em ;
	text-align:left;
	padding-top: .2em;
	padding-left:.4em;
	padding-right:.4em;
	padding-bottom: .2em;
	width:4em;
}
/* NOTE: sadly this part, for the up/down spinners, appears to not really work, yet. Shadow DOM, something something browser differences, etc. */
input[type=number]::-webkit-inner-spin-button {
/*	  -webkit-appearance: none;
*/
	color: #22DD22;
	background-color: #020402;
}

/** Text Area **/

textarea {
	display: block;
	max-width: 100%;
	margin:.5em;
	background-color: black;
	background-color: #040408;
	font-family: 'Tomorrow', 'Orbitron', Arial, Helvetica, sans-serif;
	font-size: 1.15em;
	color: #22DD22;
	line-height: 1.5;
	border-radius: 5px;
	border: 1px solid green;
}



/* coloring probably only needed IFF using Foundation */
table,tbody {
	background-color: black;
	border:none;
}
table th {  /*maybe not good to be a default, but have a declared simple table type? */
	text-align:left;
	background-color: black;
}
table td {  /*maybe not good to be a default, but have a declared simple table type? */
	padding-right: .5em;
	/* this is better for decimal comparison:   text-align:right;*/
	text-align:left;
	background-color: black;
}



/** Semantic Classes **/
.urgent {
	color: #EE2222;
}
.confirmed, .nominal {
	color: #39F33B;
}
li.confirmed {
	list-style-type: square;
}

.ship_metrics {
	font-size: 1.1em;
}
.ship_metrics  caption {
	text-align:right;
	font-size:.75em;
}
.ship_metrics th
{	padding-left: 1em;
}
.ship_metrics td
{	padding-left: 1em;
	padding-top: 0em;
	padding-bottom: 0em;
}
.ship_metrics tr td:first-child
{
	text-align: right;
	padding-right:1em;
	padding-left:2.5em;

	border-left: 1px solid #22DD22;
	border-right: 1px solid #22DD22;
}
.jumbo
{
	font-size: 9em;
}


.target_metric
{
}


/** Layout Structures **/
.wrapper2column {
	 overflow: hidden; /* clear the float */
}
.leftcolumn {
	float:left;
	margin-right:4em;
}
.rightcolumn {
	overflow: hidden;
	margin-left: 6em;
}
.yscale {
	float: left;
}
.maingrid {
	overflow: hidden;
}
.yscale td {
	text-align:right;
	border-bottom: 1px solid white;
}
.graphbar {
	color: black;
	padding: .1em .25em .1em .25em;
	background-color: #22DD22;
}


ul.button_stack {
	list-style-type: none;
	margin-left: 0em;
	padding-left: .5em;
	padding-top: 0em;
}
ul.button_stack li button {
	min-width: 12em;
}
ul.button_stack.narrow li button {
    min-width: 6em;
    text-align: left;
    padding-left: 1.5em;
}


table.vertical_threshold_bracket {
	border-top: 4px solid #ffdd66;
	border-left: 4px solid #ffdd70;
	border-bottom: 4px solid #ffdd66;
	/* nice, but not consistent with contiguous bracket color   border-collapse: collapse;*/
	border-spacing: 0em;
}
table.vertical_threshold_bracket td {
	/* font-weight: bold; */
}
table.vertical_threshold_bracket td.critical_threshold {
	border-left: 5px solid #F76263;
}
table.vertical_threshold_bracket td.nominal_threshold {
	border-left: 5px solid #39F33B;
}


#celestialregistry {
	margin-top: 50%;
}

table.cartograph {
	border: 1px solid #22DD22;
	border-collapse: collapse;
}
table.cartograph td {
	/* too basic ** border: 1px dotted #22DD22; */
/*Horizontal - trick to create spaced dots, not really a gradient*/
background-image: linear-gradient(to right, #22DD22 20%, rgba(255,255,255,0) 0%);
background-position: bottom;
background-size: 4px 1px;
background-repeat: repeat-x;

/*Vertical*/
background-image: linear-gradient(#22DD22 20%, rgba(255,255,255,0) 0%);
background-position: right;
background-size: 1px 4px;
background-repeat: repeat-y;


	width: 6em;
	height: 6em;
	text-align: left;
	vertical-align: top;
	font-size: 1em;
	color: #22DD22;
}


/** Decor **/
.starry_expanse {   /*particularly well suited for tabl-level background of cartograph */
	background-image:
		radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
		radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
		radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
		radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
	background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
	background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}
.subgridding {   /*particularly well suited for tabl-level background of cartograph */
	background-image:
		linear-gradient(darkblue 1px, transparent 1px),
		linear-gradient(90deg, darkblue 1px, transparent 1px),
		linear-gradient(rgba(200,200,250,.3) 1px, transparent 1px),
		linear-gradient(90deg, rgba(200,200,250,.3) 1px, transparent 1px);
	background-size:3.5em 3.5em, 3.5em 3.5em, 1.5em 1.5em, 1.5em 1.5em;
	background-position:.1em .1em, .1em .1em, .1em .1em, .1em .1em;
	/*
	*/
	/*
	background-size:100px 100px, 100px 100px, 20px 20px, 20px 20px;
	background-position:-2px -2px, -2px -2px, -1px -1px, -1px -1px
	*/
}
.highlight {
	filter:brightness(1.7);
}


/** Conventional UI layout **/
#super_container {
	margin: .5em;
}

#console_super_controls button {
	margin-right: -.25em;
}

#communique {
	background-color: black;
	border: 1px solid #BBAA22;
	margin-left: 2em;
	margin-right: 2em;
	margin-bottom: -.5em;
	padding: 1em;
}
#communique button.action {
	float:right;
	margin-top: 1em;
	margin-right:-1em;
}
#console_metacontrols {
	position:fixed;
	right:0; bottom:0;
}
#console_metacontrols a{
	text-decoration: none;
	font-weight: bold;
	color: #555566;
}
