fieldset > button {
	width:100%;
}
fieldset > button.secondary {
	width:80%;
	align:center;
	position:relative;
	left:10%;
	
}

div.righteous {
	text-align:right;
}
div.righteous > button {
	text-align: right;
}

div.panelsection {
	display:grid;
	grid-template-columns: repeat(3, 1fr);
	gap:1rem;
	margin: 0 auto;
}
